# Konfigurasi URL API Backend
# Jika kamu menggunakan Cloudflare Tunnel (cloudflared), paste URL-nya di sini tanpa slash di akhir
# Contoh: VITE_API_URL=https://nama-unik.trycloudflare.com
# Saat di-deploy ke Vercel, jangan lupa tambahkan variabel VITE_API_URL ini di menu Settings -> Environment Variables Vercel!

VITE_API_URL=http://127.0.0.1:8000
